<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:htmx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <h1>Add a Task</h1>
    <form hx-post="/tasks" hx-target="#tasksList" hx-swap="outerHTML">
        <label>
            <input type="text" name="name" placeholder="Task name" required>
        </label>
        <label>
            <input type="date" name="deadline" placeholder="Deadline" required>
        </label>
        <label>
            <input type="text" name="description" placeholder="Description">
        </label>
        <button type="submit">Add Task</button>
    </form>
</body>
</html>